.digital{
    background-image: url(../../img/pngtree-shoes-seamless-pattern-background-vector-illustration-eps10-picture-image_1798737.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* attachment giúp cố định tấm hình vào khung nhìn người dùng */
    background-attachment: fixed;
    padding: 100px 0; 
  }